:root{
	--color-primario:rgb(247, 0, 0);
	--fondo-oscuro:rgb(0, 0, 0);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body {
	background: #ffffff;
	font-family: 'Lato', sans-serif;
	color: #0308f7;
}

a {
	text-decoration: none;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

/* * ----- ----- ----- HEADER ----- ----- ----- */

header {
	min-height: 40vh;
	background: var(--fondo-oscuro);
	display: flex;
	align-items: center;
	text-align: center;
}

header .logotipo {
	color: #ffffff;
	font-size: 50px;
	margin-bottom: 40px;
}

header .slogan {
	font-size: 35px;
	margin-bottom: 40px;
}

header .contenedor-botones {
	display: flex;
	justify-content: center;
	gap: 20px;
}

header .btn {
	display: inline-block;
	padding: 15px 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 5px;
	transition: .3s ease all;
}

header .btn.primario {
	background: var(--color-primario);
}
header .btn.primario:hover {
	background: #3041F8;
}

header .btn.secundario {
	background: #3e9959;
}
header .btn.secundario:hover {
	background: #888AB7;
}

/* * ----- ----- ----- MAIN ----- ----- ----- */
main .contenedor {
	padding: 40px 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
}

main .card {
	background: #FFFFFF;
	color: #232533;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 50px rgba(0,0,0,.1)
}

main .card img {
	width: 100%;
	margin-bottom: 20px;
}

main .card .texto {
	margin-bottom: 20px;
	line-height: 27px;
}

main .card .contenedor-botones {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

main .card .btn {
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 5px;
	transition: .3s ease all;
}

main .card .btn.primario {
	background: var(--color-primario);
}
main .card .btn.primario:hover {
	background: #3041F8;
}

main .card .btn.secundario {
	background: #B1B2C9;
}
main .card .btn.secundario:hover {
	background: #888AB7;
}